<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>MFU BOARDGAME: CHESS LESSON LIBRARY</title>
</head>

<body>
    <!-- z-index 3 -->

    <div class="Large">

        <div class="sidebar">

            <div class="logo-sidebar">
                <img src="../public/image/logo.png" alt="">
            </div>

            <div class="chess-lesson">
                CHESS LESSON
            </div>

            <div class="menu-ls-l">
                Introduction
            </div>

            <div class="menu-ls-l">
                Learn basic
            </div>

            <div class="menu-ls-l">
                Learn pattern
            </div>

            <div class="menu-ls-l">
                Learn opening
            </div>

            <div class="menu-ls-l">
                Learn tactic
            </div>

            <div class="space"></div>

            <div class="menu-ls-l">
                Planning program
            </div>

            <div class="menu-ls-l">
                Puzzle guide
            </div>

            <div class="menu-ls-l">
                Online practice
            </div>

            <div class="menu-ls-l">
                Old record games
            </div>

        </div>



        <div class="container large">

            <div class="topic-name">
                INTRODUCTION
            </div>
            <div class="underline"></div>
            <table>
                <tr>
                    <th>
                        <div class="video-ls-l">

                            <div class="v-img-l">
                                <img class="v_img-l" src="../public/image/LightPawn.png" alt="">
                            </div>
                            <div class="clip-box-l">
                                <k class="clip-name-l">
                                    This is how to improve your chess skill!
                                </k>
                            </div>
                            <div class="watch-btn-l">
                                Watch
                            </div>

                        </div>
                    </th>
                    <th>
                        <div class="video-ls-l">

                            <div class="v-img-l">
                                <img class="v_img-l" src="../public/image/LightPawn.png" alt="">
                            </div>
                            <div class="clip-box-l">
                                <k class="clip-name-l">
                                    This is how to improve your chess skill!
                                </k>
                            </div>
                            <div class="watch-btn-l">
                                Watch
                            </div>

                        </div>
                    </th>
                    <th>
                        <div class="video-ls-l">

                            <div class="v-img-l">
                                <img class="v_img-l" src="../public/image/LightPawn.png" alt="">
                            </div>
                            <div class="clip-box-l">
                                <k class="clip-name-l">
                                    This is how to improve your chess skill!
                                </k>
                            </div>
                            <div class="watch-btn-l">
                                Watch
                            </div>

                        </div>
                    </th>
                </tr>
            </table>
        </div>

    </div>

    <!-- z-index 2 -->

    <div class="Medium">

        <div class="container medium">

            <div class="topic-name">
                INTRODUCTION
            </div>
            <div class="underline"></div>
            <table>
                <tr>
                    <th>
                        <div class="video-ls-m">

                            <div class="v-img-m">
                                <img class="v_img-m" src="../public/image/LightPawn.png" alt="">
                            </div>
                            <div class="clip-box-m">
                                <k class="clip-name-m">
                                    This is how to improve your chess skill!
                                </k>
                            </div>
                            <div class="watch-btn-m">
                                Watch
                            </div>

                        </div>
                    </th>
                    <th>
                        <div class="video-ls-m">

                            <div class="v-img-m">
                                <img class="v_img-m" src="../public/image/LightPawn.png" alt="">
                            </div>
                            <div class="clip-box-m">
                                <k class="clip-name-m">
                                    This is how to improve your chess skill!
                                </k>
                            </div>
                            <div class="watch-btn-m">
                                Watch
                            </div>

                        </div>
                    </th>
                </tr>
            </table>
        </div>

        <div class="logo-main-m">
            <img class="logo" src="../public/image/logo.png" alt="">
        </div>

        <div class="tag-m">
            <k class="tag-text-m">
                CHESS LESSON
            </k>
        </div>

        <div class="menu-ds-m">

            <div class="menu-ls-mm">
                Introduction
            </div>
            <div class="menu-ls-mm">
                Learn basic
            </div>
            <div class="menu-ls-mm">
                Learn pattern
            </div>
            <div class="menu-ls-mm">
                Learn opening
            </div>
            <div class="menu-ls-mm">
                Learn tactic
            </div>
            <div class="space"></div>
            <div class="menu-ls-mm">
                Planning program
            </div>
            <div class="menu-ls-mm">
                Puzzle guide
            </div>
            <div class="menu-ls-mm">
                Online practice
            </div>
            <div class="menu-ls-mm">
                Old record games
            </div>
        </div>

    </div>

    <!-- z-index 1 -->

    <div class="Small">

        <div class="container small">

            <div class="topic-name">
                INTRODUCTION
            </div>
            <div class="underline"></div>
            <table>
                <tr>
                    <th>
                        <div class="video-ls">

                            <div class="v-img">
                                <img class="v_img" src="../public/image/LightPawn.png" alt="">
                            </div>
                            <div class="clip-box">
                                <k class="clip-name">
                                    This is how to improve your chess skill!
                                </k>
                            </div>
                            <div class="watch-btn">
                                Watch
                            </div>

                        </div>
                    </th>
                </tr>
            </table>
        </div>

        <div class="logo-main">
            <img class="logo" src="../public/image/logo.png" alt="">
        </div>

        <div class="tag">
            <k class="tag-text">
                CHESS LESSON
            </k>
        </div>

        <div class="bg-s">
        </div>

        <div class="menu-icon">
            <img src="../public/image/menu.png" alt="">
        </div>

        <div class="menu-ds">

            <div class="menu-ls-m">
                Introduction
            </div>
            <div class="menu-ls-m">
                Learn basic
            </div>
            <div class="menu-ls-m">
                Learn pattern
            </div>
            <div class="menu-ls-m">
                Learn opening
            </div>
            <div class="menu-ls-m">
                Learn tactic
            </div>
            <div class="space"></div>
            <div class="menu-ls-m">
                Planning program
            </div>
            <div class="menu-ls-m">
                Puzzle guide
            </div>
            <div class="menu-ls-m">
                Online practice
            </div>
            <div class="menu-ls-m">
                Old record games
            </div>
        </div>

    </div>

    <script src="../public/js/home.js"></script>

</body>

</html>